*{
    padding: 0;
    margin: 0;
}

:root{
    --branco:#ffff;
    --preto:#141414;
    --textos:#a1a1ff;
    --personalizar:#808080;
}

body{
    color:var(--branco);
    background-color:var(--preto);
}

.texto h1{
    text-align: center;
    font-size: 30px;
    padding-top:30px ;
}

.texto p{
    text-align: center;
    font-size: 30px;
    padding: 50px;
}