body{
    background-color: rgb(73, 73, 73);
    color:white
}

h1{
    text-align: center;
    font-size: 45px;
}

iframe{
    position: relative;
    right:-435px ;
}

p{
    text-align: center;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

img{
    position: relative;
    right: -690px;
}