body{
    background: linear-gradient(to right,#858e96,#60696b);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    color: white;
    width:200px;
    height:45px;
    text-align: center;
    border-radius:100px;
    font-size:35px;

}

a{text-decoration: none;
    color: white;}
p{color:red}    
    
    .youtube:hover{background-color: rgb(151, 2, 2);}
    .ge:hover{background-color: rgb(12, 83, 12);}
    .twitter:hover{background-color: rgb(10, 10, 85);}
    .twitch:hover{background-color: rgb(49, 9, 49);}
    .login:hover{background-color: rgb(134, 124, 30);}
    .instagram:hover{background-color: rgb(85, 35, 7);}
    .netflix:hover{background-color:rgb(73, 72, 72)}


.twitter{
        background-color:rgb(0, 102, 255);
        box-shadow: 10px 10px 10px rgb(17, 41, 77);
        border-radius:100px ;
        }
    

.login{
            background-color: orange;
            border-radius:100px;
            box-shadow: 10px 10px 10px rgb(66, 49, 18);
            position: relative;
            top:-80px;
            left:250px ; 
        }

.ge{
                background-color:rgb(120, 194, 9);
                border-radius:100px;
                box-shadow: 10px 10px 10px rgb(21, 41, 11);
                position: relative;
                top:-160px;
                left:500px;
            }

.youtube{
                    background-color: red;
                    border-radius:100px;
                    position: relative;
                    top:-240px;
                    left:750px;
                    box-shadow: 10px 10px 10px rgb(56, 12, 12);
                }

.twitch{    
                        background-color:purple ;
                        border-radius:100px;
                        position: relative;
                        top:-320px;
                        left:1000px;
                        box-shadow: 10px 10px 10px rgb(27, 10, 27);
                    }


.instagram{
                            background-color: rgb(248, 94, 5);
                            border-radius: 100px;
                            position:relative;
                            top:-300px;
                            box-shadow:10px 10px 10px rgb(66, 33, 11);
                        }

.netflix{
                                background-color:black;
                                color:red;
                                border-radius: 100px;
                                position:relative;
                                top:-380px;
                                left:250px ;
                                box-shadow:10px 10px 10px rgb(58, 52, 52);
                            } 

.prime{
background-color: purple;



}                            

                       
    







    