*{
    margin: 0;
    padding: 0;
    color: rgb(243, 243, 243);
    box-sizing: border-box;
}

body{
    background-color: #181818; 
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.navigation{
    
    display: flex;
    position: absolute;
    left: 86%;
    
   
}

.navigation__word{
    margin-right:20px ;
    font-weight: 400;
    margin-top:26px;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
   
}

li::marker{
    content: none;
}

.google__image{
  
    position: absolute;
    bottom: 60%;
    left: 38%;
}

.input__search{
    position: absolute;
    outline: none;
    padding: 15px;
    border-radius: 50px;
    border: none;
    width: 40%;
    bottom: 60%;
    left: 28%;
    color: #181818;
}

.button__footer{
    position: absolute;
    border: none;
    top: 94%;
    right: 1%;
    border-radius:55px;
    padding: 8px;
    cursor: pointer;
    
}

.text__button{
    color:rgb(74, 132, 241);
    margin: 15px;
    
}

.circles{
    position: absolute;
    display: flex;
    gap: 40px;
    bottom: 45%;
    right: 41%;
    cursor: pointer;
}

.circle{
    background-color: rgb(41, 41, 41);
    width:50px;
    height:50px;
    border-radius:50%;
}

.images__circle{
    position: relative;
    left: 28%;
    top:25%;
}



